---
layout: page
title: Junior Golf
bg-image: bg-junior.jpg
category: instruction
---



<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Student Golf Programs</h2>
                <div class="separator separator-danger"> <img src="/assets/img/golf-red.png" alt="Golfer Icon"> </div>
                <p class="description text-left">
                    Junior golfers now have a program that enables them to reach their full potential. Keith's junior development program was created to provide regularly scheduled coaching and training sessions for dedicated boys and girls who aspire to play high school, college or professional golf.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">College Scholarships</h2>
                <p class="description text-center">
                    Keith's students have earned scholarships from the following schools
                </p>
            </div>
        </div>
        <div class="row">
            {% for image in site.static_files %}
                {% if image.path contains 'img/college_logos' %}
                    <div class="col-xs-6 col-sm-3 col-md-2 college_container">
                        <img class="img-responsive" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.path | remove: "/assets/img/college_logos/" | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".gif" | replace: "_", " " }}" />
                        <div class="force-square"></div>
                        <div class="overlay">
                            <h2>{{ image.path | remove: "/assets/img/college_logos/" | remove: ".jpg" | remove: ".jpeg" | remove: ".png" | remove: ".gif" | replace: "_", " " }}</h2>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


 <div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h2 class="text-center">4-Day PGA Junior Golf Camps</h2>
                <p class="description text-left">
                    Each player's game is evaluated to determine strengths and weaknesses, then a complete improvement plan is customized to his/her needs.  Limiting class size to just 15 juniors per session and maintaining a 5 to 1 student to instructor ratio assures individualized attention.
                </p>
                <h3>Curriculum</h3>
                <p class="description text-left">
                    The Golf Academy utilizes the same advance technology as Tour pros.  Students will better understand their swing through the use of our 4-camera system and launch monitor technology. To make sure the practice time translates to lower scores, a significant amount of class time is spent on daily competitions and on-course play.
                    In addition, each session includes tips on the following:
                </p>
                <table class="table table-hover table-cell-hover hidden-xs">
                    <tr>
                        <td>Swing mechanics </td>
                        <td>Mental training</td>
                        <td>Tournament preparation</td>
                    </tr>
                    <tr>
                        <td>Pre-shot routine </td>
                        <td>How and what to practice</td>
                        <td>Golf specific fitness</td>
                    </tr>
                    <tr>
                        <td>Increased power</td>
                        <td>Tips from the Tour </td>
                        <td>Special shots</td>
                    </tr>
                    <tr>
                        <td>Course strategy</td>
                        <td>Short game</td>
                        <td>Post shot routine</td>
                    </tr>
                    <tr>
                        <td>Club fitting</td>
                        <td>Sports nutrition</td>
                        <td>Charting yardages</td>
                    </tr>
                    <tr>
                        <td>Un-level lies</td>

                    </tr>
                </table>

                <table class="table table-hover table-cell-hover visible-xs">
                    <tr>
                        <td>Swing mechanics </td>
                        <td>Mental training</td>
                    </tr>
                    <tr>
                        <td>Tournament preparation</td>
                        <td>Pre-shot routine </td>
                    </tr>
                    <tr>
                        <td>How and what to practice</td>
                        <td>Golf specific fitness</td>
                    </tr>
                    <tr>
                        <td>Increased power</td>
                        <td>Tips from the Tour </td>
                    </tr>
                    <tr>
                        <td>Special shots</td>
                        <td>Course strategy</td>
                    </tr>
                    <tr>
                        <td>Short game</td>
                        <td>Post shot routine</td>
                    </tr>
                    <tr>
                        <td>Club fitting</td>
                        <td>Sports nutrition</td>
                    </tr>
                    <tr>
                        <td>Charting yardages</td>
                        <td>Un-level lies</td>
                    </tr>
                </table>

                <h3>Packages Includes</h3>

                <p class="description">
                    <ul>
                        <li>Use of the school's private teaching facilities</li>
                        <li>Instruction from 9:00-3:00 daily</li>
                        <li>Extensive video analysis on our 4-camera computerized system</li>
                        <li>The latest teaching techniques and technologies</li>
                        <li>Video analysis stored online for your review 24/7</li>
                        <li>5 to 1 student to instructor ratio </li>
                        <li>Instruction Handbook</li>
                        <li>Lunch each instruction day </li>
                    </ul>
                </p>

            </div>
        </div>
    </div>
</div>  


<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image"
            style="background-image: url('/assets/img/callout4.jpg')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Are You Ready to Learn from the Best?</h2>
                <div class="separator line-separator"> <img src="/assets/img/golf.png" alt="Golfer Icon"> </div>
                <p class="description">
                    Sign up today and start accelerating your junior golf career.
                </p>
            </div>

            <div class="button-get-started">
                <a href="/contact/" class="btn btn-danger btn-fill btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>Junior Golf Clinics<h2>
                <div class="separator separator-danger"> <img src="/assets/img/golf-red.png" alt="Golfer Icon"> </div>
                <p class="description text-left">
                    Juniors will learn golf fundamentals in a safe and fun environment. Sessions include individual instruction in a group setting so each student learns new skills based on his/her current golf level. Juniors rotate through a series of TPI (Titleist Performance Institute) exercise stations designed to teach youngsters motor skill development, core strength, balance and stability. Our primary goal is to create good all-around athletes that excel at golf. 
                </p>
                <p class="description">
                    <a href="/clinic/" class="btn btn-default btn-fill">Learn More</a> <a href="/contact/" class="btn btn-danger btn-fill">Contact Us to Register</a>
                </p>
            </div>
        </div>
    </div>
</div>