    <footer class="footer footer-big footer-color-black" data-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="info">
                        <h5 class="title">Links</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Lessons</a>
                                </li>
                                <li>
                                    <a href="#">Videos</a>
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title"> Learn More</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a href="#">Links To</a>
                                </li>
                                <li>
                                    <a href="#">Other Usefull</a>
                                </li>
                                <li>
                                    <a href="#">Websites Could</a>
                                </li>
                                <li>
                                    <a href="#">Go Here</a>
                                </li>
                                <li>
                                    <a href="#">For People</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title">Directions</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map"></i> <b>Rawiga Country Club</b> <br/>
                                        2057 Sparrow Drive <br/>
                                        Neat Place, OH 45056
                                    </a>
                                    <hr class="hr-small">
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-map"></i> <b>Central Golf Academy</b> <br/>
                                        252 Brookpoint Circle <br/>
                                        Wadsworth, OH 45056
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                        <i class="fa fa-dribbble"></i> Dribbble
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-google-plus-square"></i> Google+
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright">
                 © <script> document.write(new Date().getFullYear()) </script> Lyford Golf, site by <a href="mailto:mattdepero@gmail.com" style="text-decoration: underline;">Matt DePero</a>
            </div>
        </div>
    </footer>