/* 
   +--------------------------------+
   | Override styles by Matt DePero |
   | mattdepero@gmail.com           |
   +--------------------------------+
*/

/* Mobile Style Overrides */
@media (max-width: 576px) {

	.section-header .parallax {
		height: 100vh;
	}

	.section-header .content h1 {
		font-size: 3.5em;
	}
}

/* Desktop Style Overrrides */
@media (min-width: 992px) {

	.section-header .content h1 {
		font-size: 4.5em;
	}
}



.section-header .content h1 {
	line-height: 1.1;
}

/* use on a section div to make the section flush to top */
.section-flush {
	padding-top: 0px;
}

/* use on a container in the section-our-team-freebie div to make the content even to top */
.container-even {
	margin-top: 50px !important;
}


/* Vertical Menu styling from
https://www.w3schools.com/howto/howto_css_vertical_menu.asp */
.vertical-menu {
    width: 100%;
}
.vertical-menu a {
	color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-top: solid 1px grey;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a:active {
    background-color: #e78b90;
    color: white;
}