---
layout: app
---

<header>
	<div class="section section-header">
	    <div class="parallax filter filter-color-blue">
	        <div class="image"
	            style="background-image: url('assets/img/header-1.jpeg')">
	        </div>
	        <div class="container">
	            <div class="content">
	                <div class="title-area">
	                    <h1 class="title-modern">{{site.title}}</h1>
	                    <h2>{{ site.tagline }}</h2>
	                    <p></p>
	                    <div class="separator line-separator"> <img src="/assets/img/golf.png" alt="Golfer Icon"> </div>
	                    <div class="text-center row">
	                    	<div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-5 col-xs-offset-1">
	                    		<img src="/assets/img/top-100.jpg" class="img-responsive" alt="Top 100 Golf Instructure by Golf Magazine">
	                    	</div>
	                    	<div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-5">
	                    		<img src="/assets/img/pga.png" class="img-responsive" alt="Professional Golfers Association Member"> 
	                    	</div>
	                    </div>
	                </div>
	            </div>

	        </div>
	    </div>
	</div>
</header>

<div class="page-content">
  <div class="wrapper">
    {{ content }}
  </div>
</div>
